/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
    color: #636363;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    /* scroll-behavior: smooth; */
}

.container{
    max-width: 1199px;
    margin: auto;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.btn-gradient{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.2;
    outline: 0;
}

.btn-gradient:hover{
    background-position: right center;
}

.title p{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.inner__top{
    padding-top: 115px;
}

/* HEADER */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content nav{
    display: flex;
    align-items: center;
}

.header__content nav ul{
    display: flex;
    margin-right: 30px;
}

.header__content li{
    padding: 55px 15px;
}

.header__content li a{
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
}

.header__content span{
    display: inline-block;
}

.header__content i{
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

.header__content li a:hover{
    color: #f55f8d;
}

.header__content li a:hover span{
    animation: upToDown 0.3s;
}
/* End Header */

/* Carousel */
.Carousel{
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}
.Carousel__content{
    display: flex;
    align-items: center;
}

.Carousel__left{
    width: 60%;
}

.Carousel__right{
    width: 40%;
}

.Carousel__article p{
    font-size: 18px;
    margin-bottom: 15px;
}

.Carousel__article ul{
    margin-bottom: 20px;
}

.Carousel__article li{
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.Carousel__article i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.Carousel__banner{
    width: 570px;
    margin-left: 50px;
}

.Carousel__banner img{
    max-width: 100%;
    display: block;
}

/* End Carousel */

/* Start Services */
.services{
    padding-bottom: 0;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}

.services__item{
    border-radius: 10px;
    background: #fff;    
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all .5s;
}

.services__item img{
    width: 215px;
}

.services__item h3{
    font-weight: 700;
    font-size: 24px;
    color: #262626;
    margin: 15px 0;
}

.services__item:hover{
    transform: translateY(-20px);
}
/* End Services */

/* Start aboutUS */
.aboutUs{
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutUs__left{
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutUs__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutUs__right{
    width: 50%;
}

.aboutUs__right p{
    margin-bottom: 15px;
}

.aboutUs__right ul{
    margin-bottom: 15px;
}

.aboutUs__right li{
    margin-bottom: 5px;
}

.aboutUs__right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}
/* End aboutUS */

/* Start Number */
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number__content{
    display: flex;
    justify-content: space-around;
}

.number__item{
    width: 25%;
}

.number__item i{
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    font-size: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #fff;
    display: inline-block;
}

.number__item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number__item p:last-of-type{
    color: #262626;
    font-size: 18px;
}
/* End Number */

/* Start features */
.features{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features__content{
    display: flex;
}

.features__left, .features__right{
    width: 50%;
}

.features__item{
    padding: 0 50px 30px 0;
}

.features__item div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.features__item h3{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.features__item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features__bg{
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features__bg::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}

.features__bg:hover::after{
    opacity: 1;
}

.features__bg:hover div,.features__bg:hover i, .features__bg:hover h3{
    color: #fff;
}

.features__item:nth-of-type(2){
    padding: 0 0 30px 50px;
}

.features__banner{
    width: -80px;
}

.features__banner img{
    max-width: 100%;
    animation: move2 5s infinite;
}

/* End features */

/* Start portfolio */
.portfolio{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item1{
    grid-column: 1 / span 2;
}

.portfolio__item5{
    grid-column: 1 / span 2;
}

.portfolio__item6{
    grid-column: 3/4;
    grid-row: 2/4;
}

.portfolio__item img{
    width: 100%;
    height: 100%;
}

.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio__item:hover::before{
    left: 125%;
}

.portfolio__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    transition: all .75s
}

.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}

.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: all .75s;
}

.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}

.portfolio__icon a{
    text-decoration: none;
    color: #fff;
}

.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all .75s;
}

.portfolio__item:hover .portfolio__text{
    transform: translate(0);
}

.portfolio__text h3{
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

.portfolio__text p{
    color: #fff;
    opacity: .7;
}
/* End portfolio */

/* Start plan */
.plan{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.plan__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 34px;
    
}

.plan__item{
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}

.plan__item h3{
    font-weight: 700;
    color: #262626;
    font-size: 36px;
}

.plan__item img{
    width: 125px;
}

.plan__item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan__item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__item ul{
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;;
}

.plan__item li{
    font-size: 18px;
    color: #262626;
    font-weight: 400;
    padding: 5px 0;
}

.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}

.plan__item:hover{
    border-image: url(../img/br.png) 1 round;
}
/* End plan */

/* Start Testimonial */
.testimonial{
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.testimonial__content{
    min-height: 300px;
}

.testimonial__thumbs{
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    /* position: relative; */
    overflow: hidden;
}

.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
}

.testimonial__thumbs .testimonial__pic{
    padding: 30px 0 0;
    transition: all .5s;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic{
    padding: 0 0 40px;
}

.testimonial__pic::after, .testimonial__pic::before{
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after, 
.swiper-slide-thumb-active .testimonial__pic::before{
    opacity: 1;
}

.testimonial__pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial__pic::after{
    height: 10px;
    width: 10px;
    bottom: 0;
}

.testimonial__pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx{
    opacity: 1;
}
.testimonial__pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial__comment{
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial__text{
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;    
}

.testimonial__text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
}

.testimonial__name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__position{
    color: #f55f8d;
    margin-bottom: 20px
}

.testimonial__text p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.swiper-pagination-bullet-active{
    background: #f55f8d;
}

/* End Testimonial */

/* Start Blog */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.blog__item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}

.blog__header{
    position: relative;
}

.blog__header img{
    width: 100%;
    border-radius: 8px;
}

.blog__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog__body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog__body h3{
    font-size: 24px;
    font-weight: 700;
    color: #262626;
}

.blog__footer{
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);
}

.blog__footer p:first-of-type{
    margin-right: 20px;
}

.blog__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

.blog__footer p:first-of-type span{
    color: #f55f8d;
}
/* End Blog */

/* Start Footer */
footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

footer::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}

.footer__form, .footer__text{
    width: 50%;
}

.footer__text h2{
    font-size: 28px;
    color: #262626;
}

.footer__form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}

.footer__form input:hover,
.footer__form input:focus{
    border-color: #f55f8d;
}

.footer__form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__form button:hover{
    background-position: right center;
}

.footer__form button:hover i{
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}

.footer__bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item{
    width: 25%;
}

.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item li{
    padding: 8px 0;
}

.footer__item i{
    font-weight: 700;
    margin-right: 10px;
}

.footer__contact li{
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__item h3::before,
.footer__item h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::after{
    width: 45px;
    left: 20px;
}

.footer__item h3::before{
    width: 15px;
}

.footer__item a:hover{
    color: #fff;
}

.footer__copyright{
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__left span{
    color: #f55f8d;
}

.footer__copyright a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
}

.footer__copyright a:hover{
    background: #f55f8d;
}
/* End Footer */


/* Back to top */

.backToTop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    text-align: center;
    background: #f55f8d;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    color: #e1e1f0;

    visibility: visible;
    opacity: 0;
    transition: all 0.5s;

}

.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}

/* Animate */

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
}

@keyframes move2{
    0%{
        transform: rotate(1deg) translate(2px,2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100%
    {
        transform: rotate(1deg) translate(2px,2px);
    }

}

@keyframes toLeftFromRight{
    49%{
        transform: translateX(100%);
    }
    50%{
        opacity: 0;
        transform: translateX(-100%);
    }
    51%{
        opacity: 1;
    }
}
  